<%- include('./partials/header.ejs') %> 

<ul>
    
    <% for(let i = 0; i < quotes.length; i++){ %>
            <li style="list-style:none;">
            Title: 
            <a href="/frenzies/<%=quotes[i].id; %>">
            <%=quotes[i].title; %>
            </a>
    <% } %>
    <form action="/frenzies/<%=quotes.id %>?_method=DELETE" method="POST">
    </li>

</ul>

<a class="post-button" href="/frenzies/new"><button class="post-button-button">Post a Frenzy</button></a>


<br>
<br>
</p>
<%- include('./partials/footer.ejs') %> 
