<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show page</title>
    <link rel="stylesheet" href="/public/css/style.css" type="text/css">
</head>
<%- include('./partials/header.ejs') %> 

<body>
        <div>
            <h1 class="title"><%=quote.title%></h1>
            <h2 class="author">By: <%=quote.author%></h1>
            <p class="quote">
                " <%=quote.body%> "
            </p>
            <h5 class="date"><%=quote.publishDate%></h5>
        </div>
        
        <a class="back-to-home" href="/frenzies">  ← Gallery</a>
        
<%- include('./partials/footer.ejs') %> 

